# First Steps Connecting to the Wereldculturen MS SQL Server

Using pyodbc to connect to the server and submit queries to the DB

In [7]:
import pandas as pd

In [1]:
import pyodbc 
server = 'tcp:azuredfserv.database.windows.net' 
database = 'Azuredf' 
username = 'Demouser' 
password = 'Knxdde#77' 
driver='{ODBC Driver 17 for SQL Server}'

# 0. Make Connection and List Databases on the Server

In [2]:
with pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("SELECT name, collation_name FROM sys.databases")
        row = cursor.fetchone()
        while row:
            print (str(row[0]) + " " + str(row[1]))
            row = cursor.fetchone()

master SQL_Latin1_General_CP1_CI_AS
azuredf SQL_Latin1_General_CP1_CI_AS

# 1. Get List of Tables in the Database

In [25]:
with pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("""select schema_name(t.schema_id) as schema_name,
                               t.name as table_name,
                               t.create_date,
                               t.modify_date
                               from sys.tables t""")
        
        
        for row in cursor.fetchall():
            print(row)
            print()

        
        cursor.execute("""select t.name
                               from sys.tables t""")

        
        table_names = cursor.fetchall()
        print(table_names)

('dbo', 'Person', datetime.datetime(2021, 2, 4, 8, 27, 28), datetime.datetime(2021, 2, 4, 8, 27, 28))

('dbo', 'ClassificationXRefs', datetime.datetime(2021, 2, 5, 11, 9, 55, 290000), datetime.datetime(2021, 2, 5, 11, 9, 55, 290000))

('dbo', 'Departments', datetime.datetime(2021, 2, 5, 11, 9, 55, 320000), datetime.datetime(2021, 2, 5, 11, 9, 55, 320000))

('dbo', 'Objects', datetime.datetime(2021, 2, 5, 11, 9, 55, 323000), datetime.datetime(2021, 2, 5, 11, 9, 55, 323000))

('dbo', 'Classifications', datetime.datetime(2021, 2, 5, 11, 9, 55, 330000), datetime.datetime(2021, 2, 5, 11, 9, 55, 330000))

[('Person', ), ('ClassificationXRefs', ), ('Departments', ), ('Objects', ), ('Classifications', )]

In [13]:
cursor.execute("""select * from sys.tables t""")

cursor.fetchall()

[('Person', 1525580473, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2021, 2, 4, 8, 27, 28), datetime.datetime(2021, 2, 4, 8, 27, 28), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None),
 ('ClassificationXRefs', 1573580644, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2021, 2, 5, 11, 9, 55, 290000), datetime.datetime(2021, 2, 5, 11, 9, 55, 290000), False, False, False, 0, None, 8, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None),
 ('Departments', 1589580701, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2021, 2, 5, 11, 9, 55, 320000), datetime.datetime(2021, 2, 5, 11, 9, 55, 320000), False, False, False, 0, None, 10, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None),
 ('Objects', 1605580758, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2021, 2, 5, 11, 9, 55, 323000), datetime.datetime(2021, 2, 5, 11, 9, 55, 323000), False, False, False, 1, None, 81, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None),
 ('Classifications', 1621580815, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2021, 2, 5, 11, 9, 55, 330000), datetime.datetime(2021, 2, 5, 11, 9, 55, 330000), False, False, False, 0, None, 11, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None)]

In [34]:
for tbl in table_names:
    n = tbl[0]
    cursor.execute(f"""SELECT COLUMN_NAME 
                        FROM INFORMATION_SCHEMA.COLUMNS
                        WHERE TABLE_NAME = '{n}' AND TABLE_SCHEMA='dbo'""")
    columns = cursor.fetchall()
            
            
    cursor.execute(f"select TOP 10 * from {n} ;")
    table = cursor.fetchall()
#            print(n, "has entries : ", len(cursor.fetchall()))
#     print(n)
#     print()
#     print(columns)
#     print()
#     print(table)
    
    
    df = pd.DataFrame.from_records(table, columns=[tup[0] for tup in columns])
   
    try:
        df["GSRowVersion"] = df["GSRowVersion"].str.decode("iso-8859-1")  # df.apply(lambda row: str.encode(row["GSRowVersion"]))
    except KeyError:
        pass
    
    print(n)
    print(df.head())
            
    print("\n", "-"*30, "\n\n")

Person
Empty DataFrame
Columns: [PersonId, FirstName, MiddelInitial, LastName, DateOfBirth]
Index: []

 ------------------------------


ClassificationXRefs
   ClassificationXRefID  ClassificationID      ID  TableID LoginID  \
0                     1               168   52305      108     DMU
1                     2               168   52306      108     DMU
2                     3               168   85800      108     DMU
3                     4               168  185858      108     DMU
4                     5               168  185859      108     DMU

              EnteredDate  DisplayOrder GSRowVersion
0 2013-03-14 14:31:58.473             1          ßªk
1 2013-03-14 14:31:58.473             1          ß«
2 2013-03-14 14:31:58.473             1          ß«q
3 2013-03-14 14:31:58.473             1          ß«r
4 2013-03-14 14:31:58.473             1          ß«s

 ------------------------------


Departments
   DepartmentID                            Department Mnemonic  InputID  \
0             0                      (niet toegekend)     NONE        0
1             1                        Japan en Korea    JAPKO        0
2             2                          China- regio    CHINA        0
3             3                Insulair Zuidoost-Azië    INSUL        0
4             4  Zuid-Azië en vasteland Zuidoost-Azië    ZAZIE        0

     LoginID             EnteredDate  NumRandomObjs  DefaultFormID  \
0        DMU 1999-12-17 15:10:33.623             10             -2
1     marjob 2005-03-02 13:18:23.280              0             -2
2  Conversie 2000-10-04 21:25:21.957             10             -2
3  Conversie 2000-10-04 21:25:21.957             10             -2
4  Conversie 2000-10-04 21:25:21.957             10             -2

   MainTableID GSRowVersion
0          108          ¬_
1          108          ¬`
2          108          ¬a
3          108          ¬b
4          108          ¬c

 ------------------------------


Objects
   ObjectID ObjectNumber                                         SortNumber  \
0         1       TM-0-1  TM           0    1                           ...
1         2     TM-0-100  TM           0  100                           ...
2         3     TM-0-101  TM           0  101                           ...
3         4     TM-0-102  TM           0  102                           ...
4         5     TM-0-103  TM           0  103                           ...

   ObjectCount  DepartmentID  ObjectStatusID  ClassificationID  SubClassID  \
0            1             3              15               156           0
1            1             3               5               156           0
2            1             3              15               156           0
3            1            27              15               156           0
4            1             0               5               156           0

   Type  LoanClassID  ...  InJurisdiction  SearchObjectNumber  RMID  AMID  \
0     0            0  ...            True              TM-0-1  None  None
1     0            0  ...            True            TM-0-100  None  None
2     0            0  ...            True            TM-0-101  None  None
3     0            0  ...            True            TM-0-102  None  None
4     0            0  ...            True            TM-0-103  None  None

  GSRowVersion     SortSearchNumber ConservationEntityID  WMID BeginISODate  \
0          ß¢O  TM           0    1                    1  None         None
1          ß¢P  TM           0  100                    2  None  10000001850
2          ß¢Q  TM           0  101                    3  None         None
3          ß¢R  TM           0  102                    4  None         None
4          ß¢S  TM           0  103                    5  None  10000001850

    EndISODate
0  10000002011
1  10000001958
2  10000002009
3  10000002011
4  10000001958

[5 rows x 81 columns]

 ------------------------------


Classifications
   ClassificationID                   Classification  AATID  \
0               159       Materiële cultuurcollectie    NaN
1               160       Materiële cultuurcollectie    NaN
2               161       Materiële cultuurcollectie    NaN
3               167               Tijdelijke nummers    NaN
4               168  (nummer niet [meer] in gebruik)    NaN

               AATCN SourceID  LoginID             EnteredDate  \
0          Naturalia     None  xmarjob 2005-03-02 13:01:27.290
1      Antropologica     None  xmarjob 2005-03-02 13:01:27.290
2            Textiel     None  xmarjob 2005-03-02 13:01:27.307
3   Tijdelijk nummer     None  xmarjob 2005-03-02 13:01:27.307
4  (niet in gebruik)     None  xmarjob 2005-03-02 13:01:27.307

  SubClassification SubClassification2 SubClassification3 GSRowVersion
0         Naturalia               None               None          ß¢
1     Antropologica               None               None          ß¢
2           Textiel               None               None          ß¢
3              None               None               None          ß¢
4              None               None               None          ß¢

 ------------------------------